@tailwind base;
@tailwind components;
@tailwind utilities;

/* HEADER */
header {
  display: flex;
  font-family: 'Inter';
  flex-direction: row;
  justify-content: center;
}
nav {
  width: 100%;
  max-width: 1195px;
}
.logo-text {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.03em;
}
.try-button {
  color: #fff;
  background: #7D4AEA;
  box-shadow: 0px 3px 7px 1px rgba(125, 74, 234, 0.2);
}