@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  .font-medium {font-weight: 600}
  .primary-button {
    color: #fff;
    background: #7D4AEA;
    box-shadow: 0px 3px 7px 1px rgba(125, 74, 234, 0.2);
  }
  .container {
    width: 100% !important;
    max-width: 380px !important;
  }
}


.Home {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .step-header { background: #EAEAEA }
}

/* HEADER */
header {
  display: flex;
  font-family: 'Inter';
  flex-direction: row;
  justify-content: center;

  nav {
    width: 100%;
    max-width: 1195px;

    .logo-text {
      font-style: normal;
      font-weight: 800;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: -0.03em;
    }
  }
}

.Intro {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: 'Poppins';
  background: linear-gradient(180deg, #FFFFFF 0%, #E3F2F7 100%);

  .Intro-wrapper {
    max-width: 1195px;

    .main-header {
      display: flex;
      max-width: 36rem;
      font-family: 'Poppins';
      line-height: 80px;
      letter-spacing: -0.03em;
    }
  
    p {
      line-height: 44px;
    }

    .back-rectangle {
      bottom: 0;
      right: 310px;
      width: 500px;
      height: 315px;
      border-radius: 40px 40px 0px 0px;
      background: linear-gradient(239.75deg, rgba(255, 255, 255, 0.7) 1.2%, rgba(255, 255, 255, 0) 70.51%);
    }
  }
}

.Camper {
  top: 80%;
  width: 100%;
  z-index: 20;
  height: 468px;
  position: absolute;
  max-width: 1195px;
  .card {
    width: 800px;
    height: 100%;
    border-radius: 40px;
    background: #ffffff;
    .left { border-radius: 40px 0 0 40px; }
    .right {
      border-radius: 0 40px 40px 0;
      background: url('../assets/others/bgImage.svg');
    }
  }
}

.Statistics {
  width: 100%;
  height: 630px;
  font-family: 'Poppins';
  background: #666666;

  .stat-wrapper {
    width: 100%;
    max-width: 1195px;
  }
}

.Template {
  width: 100%;
  max-width: 1195px;
  font-family: 'Poppins';

  .temp-card { background: #F5F5F5 }
}

.Appearance {
  width: 100%;
  max-width: 1195px;

  .position {
    .grid-container {
      display: grid;
      column-gap: 5px;
      row-gap: 5px;
      grid-template-columns: auto auto auto;
    }
    
    .grid-item {
      width: 24px;
      height: 15px;
      text-align: center;
      border: 1px solid #DDDDDD;

      &:hover { border-color: #a7a6a6 }
      &:checked { background: #7D4AEA }
    }
  }

  .colors {
    .color-grid {
      .color-item:first-child { background-color: #000 }
      .color-item:nth-child(2) { background-color: #F37C34 }
      .color-item:nth-child(3) { background-color: #777777 }
      .color-item:nth-child(4) { background-color: #DDDDDD }
      .color-item:last-child { background-color: #fff }
      .color-item { border: 1px solid rgba(0, 0, 0, 0.3) }
    }
  }
}

.Content {
  width: 100%;
  max-width: 1195px;
  .input {
    &:focus {
      outline-offset: 0;
      outline: 2px solid #b39ce59e
    }
  }
}

.Rules {
  width: 100%;
  max-width: 1195px;
  .container {
    width: 100%;
    max-width: 380px;
    .peer:checked ~ .peer-checked\:bg-purple-600 {
      --tw-bg-opacity: 1;
      background-color: #7D4AEA;
    }
    .Device {
      input {
        width: 18px;
        height: 18px;
    }
    }
  }
}

.Settings {
  width: 100%;
  max-width: 1195px;
  .container {
    width: 100%;
    max-width: 380px;
  }
}

.Conversation {
  width: 100%;
  max-width: 1195px;
  .card { background: #F5F5F5; }
}

.Faq {
  width: 100%;
  max-width: 1195px;
  .accordion_item {
    color: #777777;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
  }
  .accordion_item.active .button {
    color: #000;
    background: #F5F5F5;
  }
  .answer_wrapper {
    height: 0;
    overflow: hidden;
  }
  .answer_wrapper.open {
    height: auto;
    background: #F5F5F5
  }
}

.Build {
  width: 100%;
  max-width: 1195px;
  .image-circle {
    background: #7D4AEA;
  }
}